# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
.venv/
venv/
ENV/
env/
ENV.venv/
env.venv/

# Secrets and Environment Variables
.env
.env.*
.secrets

# Inline unit test / coverage reports
htmlcov/
.toml
.cache
.pytest_cache/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Documentation
docs/_build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDEs and Editors (Optional but highly recommended)
.vscode/
.idea/
*.swp
*.swo
.project
.pydevproject
.settings/
